DATABASE_URL=
REDIS_URL=

NODE_ENV= 

APP_NAME=

PORT=

OAUTH_ADMIN_URL=
OAUTH_PUBLIC_URL=
OAUTH_PRIVATE_URL=

AUTHENTICATION_ADMIN_URL=
AUTHENTICATION_PUBLIC_URL=

AUTHORIZATION_ADMIN_URL=
AUTHORIZATION_PUBLIC_URL=

